<div class="relative max-w-[1000px] mx-auto flex flex-col h-lvh">
  <!-- Search Bar -->
  <div class="w-full max-w-400px mx-auto items-center mt-10">
    <!-- Search Input -->
    <div class="flex justify-center items-center">
      <input
        type="text"
        [(ngModel)]="username"
        placeholder="Enter GitHub username"
        class="mr-2 text-xl border border-gray-500/50 rounded-md px-4 py-2"
      />
      <!-- Search Button -->
      <button
        (click)="search()"
        class="px-4 py-2 text-xl text-white bg-black rounded-md"
      >
        Search Repositories
      </button>
      <!-- Cross Button -->
      <button
        *ngIf="!loading && repos.length > 0"
        (click)="cancelSearch()"
        class="ml-2 p-2"
      >
        <fa-icon [icon]="faXmark" class="pr-1"></fa-icon>
      </button>
    </div>
    <!-- Zero State -->
    <div
      *ngIf="!loading && repos.length === 0"
      class="w-full sm:w-[80%] mx-auto"
    >
      <p class="text-center mt-5">No repositories found.</p>
    </div>
  </div>

  <!-- User Info -->
  <ngx-skeleton-loader
    *ngIf="loading"
    [count]="1"
    [appearance]="'circle'"
    [animation]="true"
    class="w-20 h-20"
  >
    <!-- Placeholder content for the loader skeleton -->
    <div class="pt-5 flex flex-row">
      <div class="flex rounded-full h-[218px] p-2 border border-gray-500/50">
        <img class="h-[200px] w-[200px] rounded-full" />
      </div>
      <div class="flex flex-col mt-10 ml-20">
        <h1 class="text-3xl font-medium mb-2">Loading...</h1>
        <p class="text-sm mb-2">Loading...</p>
        <p class="text-sm mb-2">Loading...</p>
        <p class="text-sm">Loading...</p>
      </div>
    </div>
  </ngx-skeleton-loader>

  <div *ngIf="repos.length > 0" class="pt-5 flex flex-row">
    <div class="flex rounded-full h-[218px] p-2 border border-gray-500/50">
      <img
        [src]="userData.avatar_url"
        alt=""
        class="h-[200px] w-[200px] rounded-full"
      />
    </div>
    <div class="flex flex-col mt-10 ml-20">
      <h1 class="text-3xl font-medium mb-2">{{ userData.name }}</h1>
      <p class="text-sm mb-2">{{ userData.bio }}</p>
      <p class="text-sm mb-2">
        <fa-icon [icon]="faLocationDot" class="pr-1"></fa-icon
        >{{ userData.location }}
      </p>
      <p class="text-sm">
        Twitter:
        <a [href]="'https://twitter.com/' + userData.twitter_username"
          >https://twitter.com/{{ userData.twitter_username }}</a
        >
      </p>
    </div>
  </div>

  <!-- Repository List -->
  <app-repository-list
    *ngIf="repos.length > 0"
    [repositories]="repos"
  ></app-repository-list>

  <!-- Pagination -->
  <div
    *ngIf="repos.length > 0"
    class="pagination mt-4 mb-4 flex justify-around items-center w-full sm:w-[80%] mx-auto"
  >
    <div class="mb-5">
      <span>Page Size:</span>
      <select
        [(ngModel)]="pageSize"
        (change)="onPageSizeChange($event)"
        class="border border-gray-300 rounded py-2 px-4 ml-2"
      >
        <option value="10">10 per page</option>
        <option value="20">20 per page</option>
        <option value="50">50 per page</option>
        <option value="100">100 per page</option>
      </select>
    </div>
    <div class="flex mb-5">
      <button
        (click)="prevPage()"
        [disabled]="currentPage === 1"
        class="py-2 px-4 rounded mr-2 bg-gray-200 hover:bg-gray-300"
      >
        Previous
      </button>
      <span class="py-2 px-4 rounded bg-gray-200">{{ currentPage }}</span>
      <button
        (click)="nextPage()"
        class="py-2 px-4 rounded ml-2 bg-gray-200 hover:bg-gray-300"
      >
        Next
      </button>
    </div>
  </div>
</div>
